path {
  stroke: steelblue;
  stroke-width: 1;
  fill: none;
}

.axis {
  shape-rendering: crispEdges;
}

.showLabels.axis text {
  display: block;
}

.axis path {
  stroke: grey;
  opacity: 0.5;
  stroke-width: 1;
  fill: none;
}

.axis text {
  display: none;
}

